<h1> {{{ businessName }}} </h1>
  <div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card biz-card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Moe's Barbershop</h5>
    <p class="card-text">Moe's Barbershop is located on 123 Acme St. in Anycity, USA.</p>
    <a href="#" class="btn btn-primary">Visit website</a>
  </div>
</div>
    </div>
    <div class="col-8">
      <div class="jumbotron">
  <h1 class="display-4">Fast and Fantastic!</h1>
  <p class="lead">Moe's Barbershop in your go-to place for all of
your hair styling and grooming needs. Moe's Barbershop, where the service is always Fast and Fantastic!</p>
</div>
    </div>
  </div>
</div>
  
  <div class="container">
    <div class="row" id="reviews">
    <div class="col">
      {{{ reviews }}}
    </div>
    <div class="col"></div>
  </div>
  </div>