<div class="container">
<div class="card-deck">
  <div class="row images">
    <div class="col-sm">
      <a href=""><div class="card" style="width: 18rem;">
    <img src="/public/images/barbershop-4762345_640.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Barber Shops</h5>
    </div>
  </div>
    </div></a>
    <div class="col-sm">
      <a href=""><div class="card" style="width: 18rem;">
    <img src="/public/images/haircut-834280_640.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Beauty Salons</h5>
    </div>
  </div></a>
    </div>
    <div class="col-sm">
      <a href=""><div class="card" style="width: 18rem;">
    <img src="/public/images/wellness-589770_640.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Health Spas</h5>
    </div>
  </div></a>
    </div>
  </div>
</div>
</div>