<div class="container" id="categories">
  <div class="card-deck">
    <a class="card" href="/business" style="width: 18rem;">
      <img src="/images/barbershop-4762345_640.jpg" class="card-img-top" alt="barber shops houston">
      <div class="card-body">
      <h5 class="card-title">Barber Shops</h5>
      </div>
    </a>
    <a class="card" href="/business" style="width: 18rem;">
      <img src="/images/haircut-834280_640.jpg" class="card-img-top" alt="beauty salons houston">
      <div class="card-body">
      <h5 class="card-title">Beauty Salons</h5>
      </div>
    </a>
    <a class="card" href="/business" style="width: 18rem;">
      <img src="/images/wellness-589770_640.jpg" class="card-img-top" alt="health spas houston">
      <div class="card-body">
      <h5 class="card-title">Health Spas</h5>
      </div>
    </a>
  </div>
</div>