<div class="container">
  <div class="row">
    <div class="col-sm"><!--div empty for button spacing--></div>
    <div class="col-sm"><!--div empty for button spacing--></div>
    <div class="col-sm"><a href=""><button type="button" class="btn btn-warning">Sign up for free!</button></a></div>
  </div>
</div>
  
  <h1>Results for {{category}} in Houston</h1>
  
  <div class="results">
    <div class="row">
    <div class="col"><!--div empty for button spacing--></div>
    <div class="col-5">
      {{ results }}
    </div>
    <div class="col"><!--div empty for button spacing--></div>
  </div>
  </div>