<form class="form-group" id="reviewForm">
            <label for="exampleInputEmail1">Title</label>
            <input type="email" class="form-control" id="title" placeholder="title">
             <label for="exampleInputEmail1">Reviews</label>
            <input type="email" class="form-control" id="body" placeholder="body">
             <label for="exampleInputEmail1">Reviews</label>
            <input type="email" class="form-control" id="user" placeholder="user">
             <label for="exampleInputEmail1">Reviews</label>
            <input type="email" class="form-control" id="businessId" placeholder="businessId">
</form>
  <script src="/js/reviews.js" ></script>